

<h1><%= @service_category.name %> Services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Note</th>
      <th>Label</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.price %></td>
        <td><%= service.note %></td>
        <td><%= service.label %></td>
        <td><%= service.description %></td>
        <td><%= link_to 'Show', [@luxie, @service_category, service] %></td>
        <td><%= link_to 'Edit', edit_luxie_service_category_service_path(@luxie, @service_category, service) %></td>
        <td><%= link_to 'Destroy', [@luxie, @service_category, service], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', @luxie %> | 
<%= link_to 'Back to Category', [@luxie, @service_category] %> | 
<%= link_to 'New Service', new_luxie_service_category_service_path %> 
