

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Note:</strong>
  <%= @service.note %>
</p>

<p>
  <strong>Label:</strong>
  <%= @service.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<%= link_to 'Edit', edit_luxie_service_category_service_path(@luxie, @service_category, @service) %> |
<%= link_to 'Back', [@luxie, @service_category] %>
