<p id="notice"><%= notice %></p>

<h1>Listing Service Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Note</th>
      <th>Display order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_categories.each do |service_category| %>
      <tr>
        <td><%= service_category.name %></td>
        <td><%= service_category.note %></td>
        <td><%= service_category.display_order %></td>
        <td><%= link_to 'Show', luxie_service_category_path(@luxie, service_category) %></td>
        <td><%= link_to 'Edit', edit_luxie_service_category_path(@luxie, service_category) %></td>
        <td><%= link_to 'Destroy', luxie_service_category_path(@luxie, service_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service category', new_luxie_service_category_path %>
