<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_category.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @service_category.note %>
</p>

<p>
  <strong>Display order:</strong>
  <%= @service_category.display_order %>
</p>

<%= link_to 'Edit', edit_luxie_service_category_path(@luxie, @service_category) %> |
<%= link_to 'Back', @luxie %>
