<p id="notice"><%= notice %></p>

<h1>Listing Luxies</h1>

<table>
  <thead>
    <tr>
      <th>Alert</th>
      <th>Promo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @luxies.each do |luxie| %>
      <tr>
        <td><%= luxie.alert %></td>
        <td><%= luxie.promo %></td>
        <td><%= link_to 'Show', luxie %></td>
        <td><%= link_to 'Edit', edit_luxie_path(luxie) %></td>
        <td><%= link_to 'Destroy', luxie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Luxie', new_luxie_path %>
