<p id="notice"><%= notice %></p>
  <p>
    <strong>Alert:</strong>
    <%= @luxie.alert %>
  </p>

  <p>
    <strong>Promo:</strong>
    <%= @luxie.promo %>
  </p>
<div>
  <%= link_to 'Edit Alert and Promo', edit_luxie_path(@luxie) %>
</div>
<hr style="width:50%; float: left; clear: both;">


<p style="clear: both;"><strong>Service Categories</strong></p>
      <ul>
		<% @luxie.categories.each do |category| %>
			<li>
              <%= category.name %> -- 
              <%= link_to 'Show', [@luxie, category] %> | 
              <%= link_to 'Edit', edit_luxie_service_category_path(@luxie, category) %> | 
              <%= link_to 'Delete', [@luxie, category], method: :delete, data: { confirm: 'Are you sure?' } %></li>
		<% end %>
		<%= link_to 'New Category', new_luxie_service_category_path(@luxie) %>
      </ul>


<!-- User will not need to go to Luxie index directory
<%= link_to 'Back', luxies_path %>  -->
