<!-- unnecessary view, only 1 store info -->



<h1>Listing Store Infos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>About Us</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_infos.each do |store_info| %>
      <tr>
        <td><%= store_info.name %></td>
        <td><%= store_info.phone_number %></td>
        <td><%= store_info.email %></td>
        <td><%= store_info.description %></td>
        <td><%= link_to 'Show', luxie_store_info_path(@luxie) %></td>
        <td><%= link_to 'Edit', edit_luxie_store_info_path(@luxie) %></td>
        <td><%= link_to 'Destroy', luxie_store_info_path(@luxie), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', @luxie %> | 
<%= link_to 'New Store info', new_luxie_store_info_path(@luxie) %>
