

<p>
  <strong>Name:</strong>
  <%= @store_info.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @store_info.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store_info.email %>
</p>

<p>
  <strong>About Us:</strong>
  <%= @store_info.description %>
</p>

<%= link_to 'Edit', edit_luxie_store_info_path(@luxie) %> |
<%= link_to 'Home', @luxie %>
