<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store_info.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @store_info.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store_info.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store_info.description %>
</p>

<%= link_to 'Edit', edit_store_info_path(@store_info) %> |
<%= link_to 'Back', store_infos_path %>
