

<h1><%= @luxie.info.name %>, Store Hours</h1>

<table style="border-spacing:10px;">
  <thead>
    <tr>
			<th>Days</th>
      <th>Hours</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @hours_schedules.each do |hours_schedule| %>
      <tr>
				<td style="text-align:right;"><strong><%= hours_schedule.days %></strong>:</td>
        <td><%= hours_schedule.formatted_hours %></td>
        <td><%= link_to 'Edit', edit_luxie_store_info_hours_schedule_path(@luxie, hours_schedule) %></td>
        <td><%= link_to 'Destroy', luxie_store_info_hours_schedule_path(@luxie, hours_schedule), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', @luxie %> | 
<%= link_to 'New Hours schedule', new_luxie_store_info_hours_schedule_path(@luxie) %>
